main.aux
main.aux
main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex(busy)
main.synctex.gz
main.toc
solutions.aux
solutions.fls
solutions.fdb_latexmk
solutions.log
solutions.synctex.gz
solutions.toc
